@import "../../sass/variables";

// .loading-container {
//   margin: 1.6rem;
// }

.skip {
  color: $darkgray;
  margin-left: 300px;
}

.heading {
  margin: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  width: 50%;
  height: 50%;
}

.text {
  font-size: $default-font-size;
  margin-bottom: unset;
  padding: 4.5rem 0 0;
}

.dot-group {
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dot.active {
  background-color: $very-dark-green;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: $green;
  border-radius: 50%;
}
